@model IEnumerable<BanGiay.Models.SanPham>

@foreach (var item in Model)
{
    <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
        <div class="block-4 text-center border">
            <figure class="block-4-image">
                <a href="shop-single.html"><img src="@Url.Content("~/giay/"+item.AnhDaiDien)" alt="Image placeholder" class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
                <h3><a href="shop-single.html">@item.TenSanPham</a></h3>
                <p class="mb-0">@item.MoTaNgan</p>
                <p class="text-primary font-weight-bold">$@item.DonGiaBanNhoNhat</p>
            </div>
        </div>
    </div>
}